
.deepQuestion{
  background-color: rgba(255, 224, 248, 0.88);
  padding: 30px 30px;
}
.infglyphicon{
  font-size: 20px;
  color: #fff;
  border: 13px solid #ff10a3;
  border-radius: 1000px;
}
.image{
    width: 100%;
    height: 250px;
}
img{
   width: 150px;
   margin-top: 35px;    
}
.boxContainer{
    background: #fff;
    padding: 30px;
}
.quest{
  font-size: 240%;
  margin:0 0 40px 0; 
  color:  #52515a;
}
.btn{
  text-align:left;
  background: #e2e5e3;
  border: 1px solid #000;
}
.btn-select{
  font-size: 20px;
  padding: 9px;
  font-weight: 800;
  margin-bottom: 10px;
  color:  #52515a;
}
.btn-select:hover{
  transition: all 0.6s;
  background-color: #c0c4c0;
}
.check{
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.check:after {
  position: absolute;
  content: '\2714';
  color: #1f955a;
  transform: translateX(120px);
  top: -20px;
  opacity: 0;
}
.btn-select:active .check:after {
  color:#10f066;
}
.btn-select:hover .check:after {
  opacity: 1;
}
.abcOption{
  font-size: 15px;
  color:#fff;
  background: #555071;
  display: inline-block;
  width: 25px;
  height: 30px;
  margin:0 13px 0 5px;
  text-align: center;
  padding-top: 5px;
  border-radius:4px;
  font-weight: 500;
}
.progress{
  height: 5px;
  margin-bottom: 0;
}
.icons{
  background: #000;
  color: #fff;
  font-size: 13px;
  border-radius:100px;
  padding: 9px;
  margin: 0 5px;
  
}
.icon{
  margin: 40px 0 20px;
}
.icon-twitter{
  background: rgba(83, 221, 232, 0.54);
}
.icon-facebook{
  background: rgba(0, 47, 154, 0.38);  
}
.icon-google-plus{
  background: rgba(203, 15, 15, 0.42); 
  color: #fff;
}
.prevNext span{
	font-size: 35px;
	color: #ff10a3;
	margin: 10px;
	cursor: pointer;
}
.footer{
  color: #bebebe;
  margin: 12% 5%;
}